/*Calculator*/
.emc-calculator {
    box-shadow: 0px 0px 20px 0px #e1e1e1;
}
.ytp-chrome-top.ytp-show-cards-title {
    display: none!important;
}
.slideshow {
		height:660px;
}
/*Homepage*/
.swiper-button-white {
    display: none;
}
footer .icon-logo-white{
	 background: url('/assets/images/footer.png') no-repeat;	
}
.icon-logo, header .right .menu-links .mobile a:hover .icon-logo-white, header .logo {
	background: url('/assets/images/header.png') 0px 0px no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3/1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) { header .logo{
    background-image: url(/assets/images/header.png) !important;
    } }


/* Home Evaluation Page*/
.eval{
	  position: relative;
    top: -80px;
}

.one-half,
.one-third,
.full-width{
    position: relative;
    margin-right: 4%;
    float: left;
    margin-bottom: 20px;
 
}
 
.one-half { width: 48%; }
.one-third { width: 30.66%; }
.full-width { width:100%!important;
display:block;
	justify-content:center
}
.last {
    margin-right: 0 !important;
    clear: right;
}

@media only screen and (max-width: 832px) {
    .one-half, .one-third {
        width: 90% !important;
        margin-right: 0;
    }
}
.wpcf7-form select {
		margin-top: 5px;
    width : 375px;
	-webkit-appearance: auto;
  /*webkit browsers */
  -moz-appearance: auto;
  /*Firefox */
  appearance: auto;
  /* modern browsers */
}
.home-eval {
	 display: inline-block;
}