.dropdown:hover{
    background-color: #316DC3 !important;
    border-radius: 25px 25px;
    color: white !important
  
}
.btn:hover{
    color:white !important;
 
}
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  .dropdown>.dropdown-toggle:active {
      pointer-events: none;
  }
  .dropdown-menu:hover{
    color: white !important;

  }
  .dropdown-item:hover {
    background-color: #316DC3 !important;
    color: white !important;
  }
  .nav-item:hover .btn{
      color: white;
  }
  .btn-group>a{
      font-size: 11.5px;
       }
#tag-line{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
}
#colo:hover{
    background-color: #316DC3 !important;
    color: white;
    border-radius: 25px 25px;
   
}
#colo{
    color:black;
    width: 60px;
    text-align: center;
}

@media only screen and (max-width:989px)
{
    #colo{
        border-radius: 0px 0px
    }
}

.bg-light a{
    font-family: sans-serif !important;
    font-style: normal;
    font-size: small;
    font-weight: normal;
}
ul#ml.navbar-nav{
    margin-left: 30%;
}
@media only screen and (max-width:1000px)
{
    ul#ml.navbar-nav{
        margin-left: auto;
    }
    
}

@media only screen and (max-width:989px){
    a.nav-link{
    
        border-radius: 0px 0px !important;
        width: 100% !important;
        text-align: left !important;
        
        
    }
}
@media only screen and (max-width:989px)
{
    .dropdown:hover{
        border-radius: 0px 0px
    }
}


::-moz-selection { 
    color: white;
    background: black;
  }
  
::selection {
    color: white;
    background: black;
}

