h1{
    background-color: #eeeeee;
    color: #006666;
    text-shadow: -1px 1px 3px #000000;
    text-align: center;
}
p:first-letter{
    font-size: 50px;
}
a:link{
    color: lightblue;
    text-decoration: none;
}
a:visited{
    color: purple;
}
input:hover{
    background-color:greenyellow;
    
}
input:active{
    background-color: gold;
}
button{
    border-radius: 10px;
}