*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(30, 30, 30);
}
.calculator{
    position:relative;
    display:grid;
}

.calculator span{
    display:grid;
    width:60px;
    height:60px;
    color:white;
    background-color: rgb(7, 23, 31);
    place-items: center;
    border:1.5px solid #0000001a;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align:right;
    border:none;
    outline:none;
    padding:10px;
    font-size: 18px;
}
.calculator span:active{

}