.one,.two,.three{
    border:2px solid greenyellow;
    text-align: center;
   
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.one{
    flex: 1;
}
.two{
    flex: 3;
}
.three{
    flex: 1;
}